@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Cursed Timer ULiL', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  background:linear-gradient(to right,pink, blue)
}

#wrapper{
  background-color:#1B244A;
  width:300px;
  padding:20px 0px;
  margin:100px auto;
}

#app-title-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
  
  color:whitesmoke;
}

#app-title-container h1{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:1.3rem;
  margin-bottom:8px;
  text-shadow:0 0 2px black;
} 

#app-title-container p{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom:21px;
  text-shadow:0 0 2px black;
}

#stretch-goals-container{
  display: flex;
  justify-content: space-around;
  margin-bottom: 21px;
}

.fouls-flexed{
  display:flex;
  flex-direction: column;
}

.foul-text{
  color:whitesmoke;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-shadow:0 0 2px black;
}

.fouls{
  margin:1px 1px;
}
#home-text-container{
  align-self: center;
  margin-bottom:4px;
}

#away-text-container{
  order:1;
  align-self: center;
  margin-bottom:4px;
}

#away-checkbox-container{
  order:2;
}

#scoreboard-title-container{
  display:flex;
  justify-content: space-evenly;
  margin-bottom:21px;
}

.scoreboard-title{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:#EEEEEE;
  font-size:40px;
  font-weight: bold;
  text-shadow:0 0 2px black;
}

#scoreboard-score-container{
  display:flex;
  justify-content: space-evenly;
  margin-bottom:26px;
}

.scores{
  width:110px;
  height:120px;
  font-size:60px;
  color:#F94F6D;
  background-color:#080001;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  border-radius:5px;
  border:1px solid whitesmoke;
}

.winning{
  border:1px solid green;
}

.losing{
  border:1px solid red;
}

#timer-container{
  text-align: center;
}

#time-text{
  margin-bottom:5px;
  color:whitesmoke;
}

#time-btn{
  background-color: transparent;
  padding:unset;
  border-width:unset;
  border:unset;
  font-size:2rem;
}

.score-text{
  padding-right:20px;
}

#scoreboard-btns-container{
  display:flex;
  justify-content: space-evenly;
  margin-bottom:21px;
}

.btn{
  background-color: transparent;
  color:#9AABD8;
  border:1px solid #9AABD8;
  font-family: 'Cursed Timer ULiL', sans-serif;
  font-size:13px;
  padding:10px 10px;
  border-radius:5px;
}

#new-game-container{
  display: flex;
  justify-content: center;
}

#new-game-btn{
  background-color: transparent;
  border:2px solid #9AABD8;
  border-radius:5px;
  color:#9AABD8;
  font-size:1.1rem;
  padding:5px 12px;
  text-shadow:0 0 2px black;
}

@media screen and (min-width:768px) {
  #wrapper{
    width:unset;
    max-width:575px;
  }

  .scores{
    width:155px;
    font-size:90px;
  }

  .btn{
    font-size:18px;
  }

  #time-text{
    font-size:1.1rem;
  }
}